body {
    padding: 0;
    margin: 0;
}
.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#welc {
    color: pink;
    margin: 0;
    font-family: 'Delius', cursive;
    font-size: 1.5rem;
}
.navbar {
    font-family: cursive;
    display: flex;
    gap: 20px;
    color: pink;
    font-size: 1.5rem;
    text-decoration: none;
}
.navbar a:hover {
    color: crimson;
    transform: scale(1.1);
}
.intro {
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    padding: 150px;
    font-size: 3rem;
    background: linear-gradient(-45deg, #726b71, #F0796E, crimson, #CC6CE7);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#hi-babe {
    color: lightpink;
    margin: 0;
    font-family: 'Playfair Display', cursive;
}
#happy-anniversary {
    font-family: 'Playfair Display', cursive;
    margin-top: 0;
    color: pink;
}
#heart-btn {
    color: white;
    font-family: cursive;
    background-color: #db4b3e;
    margin: 0 auto;
    width: 350px;
    height: 75px;
    border: none;
    font-size: 1.5rem;
    border-radius: 999px;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.3);
}
@keyframes pulsing-button {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}
#heart-btn:hover {
    animation: pulsing-button 0.6s ease-in-out infinite
}
#heart-container {
    position: fixed;
    inset: 0;
    pointer-events: none;
    overflow: visible;
    z-index: 9999;
}
.heart {
    position: absolute;
    font-size: 100px;
    transform: scale(1), translateY(0);
    will-change: transform, opacity;
    user-select: none;
}
.heart.animate {
    animation: floatUp 1.8s cubic-bezier(.22, .9, .35, 1) forwards;
}
@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1) rotate(0);
        opacity: 100%;
        filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.2))
    }
    40% {
        transform: translateY(-70) scale(1.05) rotate(25deg);
        opacity: 95%;
        filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.2))
    }
    100% {
        transform: translateY(-200px) scale(0.7) rotate(-15deg);
        opacity: 0%;
        filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.2))
    }
}
.letter {
    background-color: #EDDFE1;
}
#letter-for-u {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', cursive;
    color: crimson;
    padding: 25px;
}
#letter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: cursive;
    color: white;
    background-color: lightpink;
    font-size: 2rem;
    border: none;
    border-radius: 999px;
    padding: 20px;
    box-shadow: 5px 4px 10px rgba(0, 0 ,0 ,0.3);
}
.letter-text {
    background-color: pink;
    display: none;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 0 auto;
    width: 65%;
    height: 30%;
    padding: 150px;
    margin-top: 25px;
}
.text-letter {
    color: beige;
    font-family: cursive;
    font-size: 1.75rem;
}
#dear, #ending-letter {
    color: crimson
}
#ending-letter {
    display: flex;
    justify-content: right;
}